/* CREATED BY PRINCE BAJAJA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.row {
    max-width: 1130px;
    margin: 0 auto;
}

body {
    background-color: #2b2b2b;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

main {
    margin-top: 20vh;
    text-align: center;
}


nav {
    width: 100%;
    display: flex;
    background-color: #141017;
    z-index: 5;
}

#navbar {
    margin-top: 2vh;
    display: flex;
    top: 0;
    width: 100%;
    position: sticky;
    background: transparent;
  
    backdrop-filter: blur(10px);
    text-align: center;
    overflow: hidden;
    transition: top .35s;
    z-index: 10;
}

.nav-center {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .nav-link-ani {
    display: inline-block;
    cursor: pointer;
  }
  .nav-link-active {
    display: inline-block;
    cursor: pointer;
  }
  .nav-link-active:after {
    content: '';
    width: 100%;
    height: 3px;
    margin: auto;
    display: block;
    background: #da2c4d;
  }
  .nav-link-active .nav-link:hover {
    color: #f2f2f2;
  }
  .nav-link {
    transition: color .35s ease;
  }
  .nav-link:hover {
    color: #da2c4d;
  }
  .nav-link-ani:after {
    content: '';
    width: 0;
    height: 3px;
    margin: auto;
    display: block;
    background: transparent;
    transition: width .35s ease, background-color .35s ease;
  }
  .nav-link-ani:hover:after {
    width: 100%;
    background: #da2c4d;
  }
  .nav-link {
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    padding: 1em .9em;
    margin: 0;
  }

.sec-right {
    margin-left: 60vh;
}

.sec-right img {
    position: absolute;
    left: 25px;
    width: 100vh;
    border-radius: 25px;
}

.text-right {
    position: relative;
    padding-top: 15vh;
    left: 25%;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-decoration: underline;
}

section p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.discord-link a {
    text-decoration: none;
    color: blue;
}

.policie-obrázek {
    position: absolute;
    left: 122vh;
    top: 94vh;
    width: 70vh;
    border-radius: 25px;

}

.pozadí-gta5{
    position: absolute;
    left: 3%;
    top: 90%;
    width: 70vh;
    border-radius: 25px;
}

.sec-middle {
    margin-top: 40vh;
}


.staff-block {
    background-color: #000000;
    display: inline-block;
    border-radius: 25px;
    margin: 45px;
    padding-top: 30px;
    width: 150px;
    height: 150px;
    box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sec-staff {
    margin-top: 25vh;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

footer p {
    color: #ffffff85;
    display: inline-block;
}

footer a {
    color: #ffffff85;
    text-decoration: none;
    
}